.category-btn {
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 7px 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 0;
  &:hover {
    background: #66a5ad;
    span {
      color: #c4dfe6 !important;
    }
  }
  &:active {
    background: #66a5ad;
    span {
      color: #c4dfe6 !important;
    }
  }
}
