.searchInput {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 350px;
}

@media only screen and (max-width: 600px) {
  .searchInput {
    margin-left: 4px;
    width: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .searchInput {
    margin-left: 6px;
    width: 250px;
  }
}

